build-stamp
configure-stamp
debian/files
debian/lernstick-package-management-wrapper/
debian/lernstick-package-management-wrapper.debhelper.log
debian/lernstick-package-management-wrapper.substvars
messages.po
po/de/package-management-wrapper.mo
po/de/package-management-wrapper.po~
