Source: lernstick-package-management-wrapper
Section: admin
Priority: extra
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-package-management-wrapper
Architecture: all
Depends: gettext-base, procps, sudo, unattended-upgrades, xterm, zenity
Description: Provides a wrapper script for package management tools
 The wrapper script tries to gracefully shutdown the unattended upgrades,
 updates the package information and tries to recover from interrupted dpkg
 runs before running the actual graphical package management tool (e.g.
 synaptic).
